<header class="header">
  <a href="https://github.com/nhn/tui.calendar">
    <img alt="TOAST UI Calendar Brand Image" src="$ui.image('img-bi.png')">
  </a>
</header>
<article class="content">
  <aside class="sidebar">
    <div class="sidebar-item">
      <input class="checkbox-all" type="checkbox" id="all" value="all" checked="">
      <label class="checkbox checkbox-all" for="all">View all</label>
    </div>
    <hr>
    #if($randomDemo)
    <div class="sidebar-item">
      <input type="checkbox" id="1" value="1" checked="">
      <label class="checkbox checkbox-calendar checkbox-1" for="1">My Calendar</label>
    </div>
    <div class="sidebar-item">
      <input type="checkbox" id="2" value="2" checked="">
      <label class="checkbox checkbox-calendar checkbox-2" for="2">Work</label>
    </div>
    <div class="sidebar-item">
      <input type="checkbox" id="3" value="3" checked="">
      <label class="checkbox checkbox-calendar checkbox-3" for="3">Family</label>
    </div>
    <div class="sidebar-item">
      <input type="checkbox" id="4" value="4" checked="">
      <label class="checkbox checkbox-calendar checkbox-4" for="4">Friends</label>
    </div>
    <div class="sidebar-item">
      <input type="checkbox" id="5" value="5" checked="">
      <label class="checkbox checkbox-calendar checkbox-5" for="5">Travel</label>
    </div>
    #else
    #set($count = 0)
    #foreach($c in $calendari)
    #set($count = $count + 1)
    <div class="sidebar-item">
      <input type="checkbox" id="$count" value="$count" checked="">
      <label class="checkbox checkbox-calendar checkbox-$count" for="$count">$c.descrizione</label>
    </div>
    #end
    #end
    <hr>
    <div class="app-footer">© NHN Cloud Corp.</div>
  </aside>
  <section class="app-column">
    <nav class="navbar">
      <div class="dropdown">
        <div class="dropdown-trigger">
          <button class="button is-rounded" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="button-text"></span>
            <span class="dropdown-icon toastui-calendar-icon toastui-calendar-ic-dropdown-arrow"></span>
          </button>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <a href="#" class="dropdown-item" data-view-name="month">Monthly</a>
            <a href="#" class="dropdown-item" data-view-name="week">Weekly</a>
            <a href="#" class="dropdown-item" data-view-name="day">Daily</a>
          </div>
        </div>
      </div>
      <button class="button is-rounded today">Today</button>
      <button class="button is-rounded prev">
        <img alt="prev" src="$ui.image('ic-arrow-line-left.png')" srcset="
             $ui.image('ic-arrow-line-left@2x.png') 2x,
             $ui.image('ic-arrow-line-left@3x.png') 3x
             ">
      </button>
      <button class="button is-rounded next">
        <img alt="prev" src="$ui.image('ic-arrow-line-right.png')" srcset="
             $ui.image('ic-arrow-line-right@2x.png') 2x,
             $ui.image('ic-arrow-line-right@3x.png') 3x
             ">
      </button>
      <span class="navbar--range"></span>
      <div class="nav-checkbox">
        <input class="checkbox-collapse" type="checkbox" id="collapse" value="collapse">
        <label for="collapse">Collapse duplicate events and disable the detail popup</label>
      </div>
    </nav>
    <main id="app"></main>
  </section>
</article>

#if($randomDemo)
<script src="$content.getURI('scripts/mock-data.js')"></script>
#else
<script>

          var MOCK_CALENDARS = $related.getRisorseJson();
  var EVENT_CATEGORIES = ['milestone', 'task'];
  var EVENT_ARRAY = [];

  function generateRandomEvents(viewName, renderStart, renderEnd) {

    EVENT_ARRAY = [];
    var inizio = moment(renderStart.toDate()).format('YYYY-MM-DD');
    var fine = moment(renderEnd.toDate()).format('YYYY-MM-DD');

    var url = "$data.contextPath/json/eventi";
    var dati = {
      viewName: viewName,
      renderStart: inizio,
      renderEnd: fine
    };

    chiamaAjax("GET", url, dati, function (result) {
      EVENT_ARRAY = result.eventi;
    });

    return EVENT_ARRAY;
  }

  function calbeforeCreateEvent(evento) {

    var url = "$data.contextPath/json/eventi";
    var strJson = JSON.stringify(evento);
    var dati = {
      jsondata: strJson
    };

    chiamaAjax("POST", url, dati, function (result) {
      console.log("Creato nuovo evento");
      evento.id = result.eid;
    });
  }

  function calbeforeUpdateEvent(event_id, event_calendarId, changes) {

    var url = "$data.contextPath/json/eventi";
    var strJson = JSON.stringify(changes);
    var dati = {
      eid: event_id,
      cid: event_calendarId,
      jsondata: strJson
    };

    chiamaAjax("POST", url, dati, function (result) {
      console.log("Creato nuovo evento");
    });
  }

  function calbeforeDeleteEvent(eventInfo_id, eventInfo_calendarId) {

    var url = "$data.contextPath/json/eventi"
            + "?eid=" + encodeURIComponent(eventInfo_id)
            + "&cid=" + encodeURIComponent(eventInfo_calendarId);
    
    var dati = {
      eid: eventInfo_id,
      cid: eventInfo_calendarId,
    };

    chiamaAjax("DELETE", url, dati, function (result) {
      console.log("Creato nuovo evento");
    });
  }

  function chiamaAjax(metodo, url, dati, funsuccess) {
    jQuery.ajax({
      url: url,
      method: metodo,
      dataType: "json",
      async: false,
      data: dati,
      success: funsuccess,
      error: function (jqxhr, textStatus, error) {
        var err = textStatus + ", " + error + "\n" + jqxhr.responseText;
        console.log("Request Failed in chiamaAjax: " + err);
      }
    });
  }

</script>
#end 

<script src="$content.getURI('scripts/utils.js')"></script>
<script src="$content.getURI('scripts/app.js')"></script>
