#if ( $data.getMessage() )
#info( $data.getMessage() )
#end

<a href="$link.setPage('Calendario.vm')"> Calendario </a>


<script>

window.addEventListener('DOMContentLoaded', function () {
  const container = document.getElementById('calendar');
  const options = {
    defaultView: 'week',
    timezone: {
      zones: [
        {
          timezoneName: 'Asia/Seoul',
          displayLabel: 'Seoul',
        },
        {
          timezoneName: 'Europe/London',
          displayLabel: 'London',
        },
      ],
    },
    calendars: [
      {
        id: 'cal1',
        name: 'Personal',
        backgroundColor: '#03bd9e',
      },
      {
        id: 'cal2',
        name: 'Work',
        backgroundColor: '#00a9ff',
      },
    ],
  };

  const calendar = new tui.Calendar(container, options);
});

</script>

<div id="calendar" style="height: 600px; width: 1000px;"></div>

