<script>

  function cambiaPrestazione(event) {
    const select = event.target;
    const valore = select.value;
    const testo = select.options[select.selectedIndex].text;

    if (valore === "") {
      $("#risorse-box").text("");
      return;
    }

    $("#risorse-box").text("Loading " + valore + " - " + testo);
    caricaRisorseBox(valore);
  }

  function caricaSlots() {
    // TODO: verifica date
    document.fo.submit();
  }

</script>

<form id="fo" name="fo" method="post" action="$link.setPage('Slots.vm')">
  <div class="prestazione-row">
    <div class="prestazione-label">
      <label for="prestazione">Prestazione</label>
    </div>
    <div class="prestazione-field">
      <select id="prestazione" name="prestazione" onchange="cambiaPrestazione(event);">
        <option value="" selected>Seleziona...</option>
        $related.prestazioniCombo()
      </select>
    </div>
    <div class="risorse-box" id="risorse-box">
      Selezionare una prestazione.
    </div>
  </div>

  <div>
    <table>
      <tr><td>Data iniziale:</td><td><input type="text" name="di" value="$di" size="40"></td></tr>
      <tr><td>Data finale:</td><td><input type="text" name="df" value="$df" size="40"></td></tr>    
    </table>
    <button onclick="caricaSlots();">Carica slots</button>
  </div>
</form>

<script src="$content.getURI('scripts/utils.js')"></script>
<script src="$content.getURI('scripts/schedula.js')"></script>
