$page.setTitle("OpenScheduler agenda demo")
$page.addStyleSheet("http://www.w3schools.com/lib/w3.css")
$page.addStyleSheet("http://www.w3schools.com/lib/w3-theme-blue-grey.css")

$page.addScript($ui.getScript("page.js"))
$page.addStyleSheet($ui.getStylecss())

$page.addScript("https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js")
$page.addScript("https://uicdn.toast.com/calendar/latest/toastui-calendar.ie11.min.js")
$page.addStyleSheet("https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css")

<html lang="$l10n.Locale">
  <meta http-equiv="Content-type" content="$data.ContentType" />

  #TurbineHtmlHead()

  <body #TurbineHtmlBodyAttributes() class="w3-theme-l4">

    <div class="w3-wrapper">

      <!-- Header -->
      <header class="w3-container w3-center w3-padding-32 w3-theme">
        <img class="w3-right" src="$ui.image('turbine4-project.png')" /> 
        #if ( $data.getUser().hasLoggedIn() ) 
        #set ( $u = $data.getUser() )
        <div class="w3-right">
          <h5>Hello $!u.FirstName</h5>
        </div>
        #end
      </header>

      <!-- Default Menu -->
      $navigation.setTemplate("/Menu.vm")

      <!-- Content -->
      <div class="w3-left w3-padding" id="content">
        $screen_placeholder
      </div>

      <!-- Footer -->
      <footer class="w3-bottom">
        <p>Powered by <img src="$ui.image('pb-turbine100px.png')"/></p>
      </footer>
    </div>

  </body>
</html>
