<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OpenScheduler Agenda Demo</title>
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.css"
      />
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.css"
      />

    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.ie11.min.js"></script>

    <link rel="stylesheet" href="$content.getURI('styles/reset.css')" />
    <link rel="stylesheet" href="$content.getURI('styles/app.css')" />
    <link rel="stylesheet" href="$content.getURI('styles/icons.css')" />
  </head>
  <body>
    <div class="app-container code-html">

      $screen_placeholder

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.1.8/chance.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="$content.getURI('scripts/mock-data.js')"></script>
    <script src="$content.getURI('scripts/utils.js')"></script>
    <script src="$content.getURI('scripts/app.js')"></script>
  </body>
</html>
